* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

/* ================= HEADER ================= */

.header {
  height: 100px;
  width: 100%;
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    width : 20%;
}
/* ================= FOOTER ================= */

.footer {
  height: 100px;
  width: 100%;
  background-color: grey;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================= MAIN CONTENT ================= */

.content {
  min-height: calc(100vh - 200px); /* header + footer */
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================= AUTH BOX ================= */

.login {
    width: 550px;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ================= FORMS ================= */

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

input {
  padding: 10px;
  font-size: 25px;

}

button {
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

button:hover {
  background-color: darkgreen;
}
