body {
    margin : 0px;
    padding : 0px;
    font-size: larger;
}
.header {
    height : 100px;
    width : 100%;
    background-color: green;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position:fixed;
    top : 0px;
}

.footer {
    height : 100px;
    width : 100%;
    background-color: grey;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
  padding-top: 100px; 
  padding-bottom: 100px;
}