<%- include('../partials/header') %>

<main class="content">
  <div class="login">
    <h1>Dashboard</h1>
    <h3>Welcome <%= user.email %></h3>

    <form method="POST" action="/auth/logout">
      <button type="submit">Logout</button>
    </form>
  </div>
</main>

<%- include('../partials/footer') %>
